<div class="message">
   <div class="message-top">
     <div class="message-user-name">
       <%= message.user.name%>
     </div>
     <div class="message-day">
       <%= l message.created_at %>
     </div>
   </div>
   <div class="message-text">
     <%= message.content %>
   </div>
</div>
