<div class="side-header">
  <div class="side-user-name">
    <a href="#">トム</a>
  </div>
  <div class="room-make">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-top">
  <div class="room">
    <div class="room-name">
      <a href="#">ルーム1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">ルーム2</a>
    </div>
  </div>
</div>
