.wrapper{
  display: flex;
}

/** サイドバー **/

.side-wrapper{
  height: 100vh;
  width: 300px;
  background-color: #253141;
}
.side-header{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side-user-name a{
  color: #FAFAFA;
  text-decoration: none;
  font-size: 16px;
}
.room-make{
  border: 1px solid lightblue;
  padding: 14px;
}
.room-make a{
  text-decoration: none;
  font-size: 10px;
  color: deepskyblue;
}
.side-top{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}
.room{
  padding: 20px 0 40px;
}
.room-name a{
  text-decoration: none;
  color: white;
}

/** メインバー **/

.main-wrapper{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #FFFFFF;
}
.main-header{
  height: 100px;
  padding: 0 40px;
}
.main-top{
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}
.main-footer{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}